*.meta
Assets/SocketIO
Assets/SocketIO.meta

.vscode/
game_unity.sln

Library
Logs
obj
Packages
ProjectSettings
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj

CocinaHDRP.sln
CocinaHDRP.userprefs